<!DOCTYPE html>
<html>
	<head>
		<title>{{ page.title }}</title>
		<link rel="stylesheet" type="text/css" href="/css/main.css">
	</head>
	<body>
		<nav>
    		<ul>
        		<li><a href="/">Home</a></li>
	        	<li><a href="/about">About</a></li>
			<li><a href="/news">News</a></li>
        		<li><a href="/resume">Resume</a></li>
        		<li><a href="/random">Random</a></li>
    		</ul>
		</nav>
		<div class="container">
    
    		{{ content }}
        
		</div><!-- /.container -->
		<footer>
    		<ul>
        		<li><a href="mailto:katrinaemily.best@mail.utoronto.ca">Email</a></li>
        		<li><a href="https://github.com/kat9897"><img style="width:15%;height:auto;object-fit:contain;" src="img/github-mark.png" alt="Github"></a></li>
			</ul>
		</footer>
	</body>
</html>
